/*
Arial
Brush Script MT
Comic Sans
Courier New
Garamond
Georgia
Helvetica
Impact
Lucida Console
Palatino
Tahoma
Times New Roman
Trebuchet MS
Verdana
*/

.contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
  padding: 18px 
  
  
}

  .tarjeta-personaje {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: nowrap;
    border: 1px solid gray;
    box-shadow: 7px 6px 6px rgb(150, 127, 127);
    cursor: pointer;
    width: 300px;
  }
  .tarjeta-personaje:hover {
    box-shadow: 10px 5px 5px rgba(139, 122, 138, 0.534);
  }

    .lado-izquierdo {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(70, 6, 6);
      
    }
      .personaje-imagen {
        height: 200px;
        width: 100px;
        object-fit: cover;
        margin-left: 7px;
        margin-top: 7px;
      }

    .lado-derecho {
      display: flex; 
      flex-direction: column;
    }
      .personaje-nombre {
        font-family: Georgia;
        margin: 20;
        background-color: #F4C2C2;

      }
      .personaje-apodo {
        font-family: Helvetica;
      }
      .personaje-ocupacion {
        font-family: Impact;
      }

      .contenedor-fecha-nacionalidad {
        display: flex;
        
      }

        .personaje-nacionalidad {
          font-family: Garamond;
          font-size: 20px;
          font-weight: 700;
          flex: 2;

        }
        .personaje-fecha {
          font-family: Impact;
          font-size: 10px;
          align-items: center;
          flex: 1;
        }