.container-home {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

}

.box {
  width: 40px;
  height: 40px;
  background-color: rgb(62, 141, 86);
}

.box2 {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 113, 125);
  margin-top: 5px;
}

.imageclass{
  width: 200px;
  height: 400px;
  border-radius: 50px;
  margin-top: 10px;
}