.container-home {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

}

.box {
  width: 40px;
  height: 40px;
  background-color: grey;
  border-radius: 10px;
}

.box2 {
  width: 40px;
  height: 40px;
  background-color: grey;
  margin-top: 5px;
  border-radius: 10px;
}

.imageclass{
  width: 200px;
  height: 400px;
  border-radius: 50px;
  margin-top: 10px;
}

.box3 {
  width: 70px;
  height: 70px;
  background-color: white;
  margin-top: 100px;
  border-radius: 10px;
}